* h1 {
    color: rgba(185, 62, 134, 0.411);
    text-align: center;
}

#contenedor {
    width: 1100px;
    margin: 0 auto;
}

#encabezado {
    height: 120px;
    background: #df1f7f;
}

#contenido {
    background: #ebb4cd;
}