* h1 {
    color: rgba(241, 77, 173, 0.411);
    text-align: center;
}

#contenedor {
    width: 1100px;
    margin: 0 auto;
}

#encabezado {
    height: 120px;
    background: #df1f7f;
}

#contenido {
    background: #afd4bd;
}