body {
    background-color: aqua;
}

#paisajismo {
    margin-left: 60px;
    width: 900px;
    height: 500px;
    background-color: coral;
    text-align: center;
}

#img {
    display: flex;
    justify-content: center;
    gap: 30px;
}