* {
    margin-top: 0;
    padding-left: 0;
}

body {
    background-color: rgb(135, 234, 194);
}

#contenedor {
    color: black;
    background-color: coral;
    width: 180px;
    height: 45px;
    margin-left: 550px;
    text-align: center;
}

#paisa {
    text-align: center;
    background-color: coral;
    width: 800px;
    height: 500px;
    margin-left: 250px;
    margin-top: 30px;
}

#tips {
    text-align: center;
    background-color: coral;
    width: 800px;
    height: 600px;
    margin-left: 250px;
    margin-top: 30px;
}