body {
    background-color: aqua;
}

#titulo {
    text-align: center;
    background-color: coral;
    width: 190px;
    margin-left: 520px;
}

#paisajismo {
    margin-left: 120px;
    width: 1000px;
    height: 500px;
    background-color: coral;
    text-align: center;
}

#img {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#tips {
    background-color: coral;
    margin-top: 10px;
    height: auto;
    width: 750px;
    margin-left: 230px;
    text-align: center;
}