* h1 {
    color: rgba(228, 18, 193, 0.411);
    text-align: center;
}

#contenedor {
    width: 1100px;
    margin: 0 auto;
}

#encabezado {
    height: 120px;
    background: #43ac92;
}

#contenido {
    background: #54bb7c;
}